// ===================================================|
// Roles: BORDERS

// -------------------------| Dividers
$roles-borders-dividers: ();

// -------------------------| Underlines
$roles-borders-underlines: (
  'link': map-get($swatch-borders, '1px-dotted-light-blue')
);

// -------------------------| Wrappers
$roles-borders-wrappers: ();

// -------------------------| Radiuses
$roles-borders-radiuses: (
  'avatar': map-get($swatch-border-radiuses, 'circle')
);
