// ===================================================|
// Roles: TYPOGRAPHY

// -------------------------| Font families
$roles-typo-font-families: (
  'base': unquote(map-get($swatch-font-families, 'home-sans'))
);

// -------------------------| Font sizes range
$roles-typo-font-sizes-base: (
  'min': $base-html-font-size,
  'max': $base-html-font-size * map-get($roles-ratios, 'font')
);

// -------------------------| Font sizes hierarchy
$roles-typo-font-sizes: (
  'base': map-get($swatch-typo-font-sizes, '15'),
  'title': map-get($swatch-typo-font-sizes, '32'),
  'author': map-get($swatch-typo-font-sizes, '14'),
  'link': map-get($swatch-typo-font-sizes, '14'),
  'footer': map-get($swatch-typo-font-sizes, '12')
);

// -------------------------| Line-heights
$roles-typo-line-heights: (
  'text': map-get($swatch-line-heights, '150%')
);

// -------------------------| Font weights
$roles-typo-font-weights: (
  'title': map-get($swatch-font-weights, 'bold'),
  'base': map-get($swatch-font-weights, 'regular'),
  'author': map-get($swatch-font-weights, 'light'),
  'link': map-get($swatch-font-weights, 'light'),
  'footer': map-get($swatch-font-weights, 'light')
);
