// ===================================================|
// Roles: COLORS

// -------------------------| Text
$roles-col-texts: (
  'base': map-get($swatch-colors-mono, 'mine-shaft'),
  'negative': map-get($swatch-colors-mono, 'white'),
  'copyright': map-get($swatch-colors-mono, 'dusty-gray')
);

// -------------------------| Links
$roles-col-links: (
  'link': map-get($swatch-colors-brand, 'blue'),
  'hover': light(map-get($swatch-colors-brand, 'blue'), 15%),
  'active': map-get($swatch-colors-brand, 'orange')
);

// -------------------------| Backgrounds
$roles-col-backgrounds: (
  'app': map-get($swatch-backgrounds, 'white')
);
