// ===================================================|
// Roles: SIZES

// -------------------------| Avatar
$roles-size-avatar: 65px;

// -------------------------| Logo
$roles-size-logo: 60px;

// -------------------------| Icons
$roles-size-link-icon: 18px;

// -------------------------| Print page
$roles-size-print-page-width: 210mm;
$roles-size-print-page-height: 297mm;
